<div class="main">
  <div class="inner">

    <div class="form">
      <h2 class="user-heading">ユーザー新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="form_content">
          <%= f.label :nickname, "ユーザー名" %><br />
          <%= f.text_field :nickname,  class: :form_area, rows: "1" %>
        </div>

        <div class="form_content">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email,  class: :form_area, rows: "1", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form_content">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password,  class: :form_area, rows: "1", autocomplete: "new-password" %>
        </div>

        <div class="form_content">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation,  class: :form_area, rows: "1", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>

  </div>
</div>