<%= form_with model: @art, local: true do |f|%>
  <div class="art_form">

    <div class="form">
      <div class="form_content">
        <%= f.label :image, "作品の画像" %><br />
        <%= f.file_field :image, class: :form_image %>
      </div>

        <div class="form_content">
          <%= f.label :title, "作品タイトル" %><br />
          <%= f.text_area :title, rows: "1", class: :form_area %>
        </div>

        <div class="form_content">
          <%= f.label :content, "作品内容" %><br />
          <%= f.text_area :content, rows: "5" , class: :form_area%>
        </div>

        <div class="action">
          <%= f.submit "投稿する", class: :form__btn  %>
        </div>

    </div>
  </div>
<% end %>

