<main class="main">
  <div class="inner">

    <div class="detail_first">
      <div class="detail_second">

        <div class="detail_third">
          <h1 class="page_hedding">
            <%= @art.title %>
          </h1>
        </div>

        <div class="detail__images">
          <%= image_tag @art.image ,class: :detail_image %>
        </div>

        <ul class="detail_list">
          <% if user_signed_in? && current_user.id == @art.user_id %>
          <li>
            <%= link_to '編集', edit_art_path(@art.id) %>
          </li>
          <li>
            <%= link_to '削除', art_path(@art.id), data: { turbo_method: :delete } %>
          </li>
          <% end %>
        </ul>

        <div class="detail_third">
          <p class="detail_content">
            <%= @art.content %>
          </p>
        </div>
        <%= link_to "by #{@art.user.nickname}",user_path(@art.user),class: :detail_name %>

        <div id="favorite_button">
          <%= render "favorites/favorite", art: @art %>
        </div>

      </div>

      <div class="detail_comment">
      <% if user_signed_in? %>
        <%= form_with(model: [@art, @comment], local: true) do |f| %>
          <%= f.text_area :text, placeholder: "コメントする",rows: "3", class: :form_area %>

          <div class="action">
            <%= f.submit "SEND" , class: :form__btn%>
          </div>
        <% end %>
      <% else %>
        <strong><h2>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</h2></strong>
      <% end %>

       <div class="detail_comments">
        <h1 class="detail_comments__head">＜ コメント一覧 ＞</h1>

        <% if @comments.present? %>

          <% @comments.each do |comment| %>
            <div class="comment_list">
              <strong><%= comment.text %>＊</strong>
              <%= link_to comment.user.nickname, " #{comment.user_id}",class: :comments__name %>
            </div>
          <% end %>

        <% else %>

          <div class="comment_list">
            <strong><h4>
            ※※ まだコメントはありません ※※<br>
            コメントをしませんか？
            </h4></strong>
          </div>

          <% end %>

        </div>
      </div>

    </div>

  </div>
</main>
