<!DOCTYPE html>
<html>
  <head>
    <title>Famade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

  </head>

  <body>
    <header class="header">

      <div class="nav">
        <div class="head_logo">
          <%= link_to image_tag("faMade5.png", class: :logo), root_path %>
        </div>

      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to current_user.nickname, "/users/#{current_user.id}", class: :nav__btn %>
          <%= link_to "投稿", new_art_path, class: :nav__btn %>
          <%= link_to "ログアウト", root_path, class: :nav__btn %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "とうろく", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
      </div>
    </header>

    <%= yield %>

    </body>
    <footer class="footer">
      2023 faMade
    </footer>

</html>
