<!DOCTYPE html>
<html>
  <head>
    <title>Famade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header class="header">
      <div class="head_logo">
      </div>

      <div class="nav">
        <div class="nav__right">
          <%= link_to "name", root_path, class: :nav__btn %>
          <%= link_to "投稿", root_path, class: :nav__btn %>
          <%= link_to "ログアウト", root_path, class: :nav__btn %>
        </div>
      </div>

    <%= yield %>

    </header>

    <footer class="footer">
      2023 faMade
    </footer>
  </body>
</html>
